<a href="https://colab.research.google.com/github/Nokulunga77/Marketing/blob/main/Get_Data_Into_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [110]:
import pandas as pd
import numpy as np
from google.colab import auth
import gspread
from google.auth import default

auth.authenticate_user()

In [ ]:
creds, _ = default()

gc = gspread.authorize(creds)

worksheet = gc.open('Optily_2022_Updated').sheet1

# get_all_values gives a list of rows.
rows = worksheet.get_all_values()
print(rows)

# Convert to a DataFrame and render.
df_train = pd.DataFrame.from_records(rows)

In [144]:
df_train.head(2)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,,campaign_name,ad_name,adset_name,ctr,cpc,clicks,impressions,spend,frequency,reach,actions,cpp,cpm,date_start,date_stop,link_clicks,registrations,action_values
1,0,"Post: ""Bright enough that you’ll need sunglass...","Post: ""Bright enough that you’ll need sunglass...","Post: ""Bright enough that you’ll need sunglass...",3.703704,0.579474,19,513,11.01,1.032193,497,"[{'action_type': 'photo_view', 'value': '8'}, ...",22.152918,21.461988,2022-04-06,2022-04-06,,,

In [145]:
df_train.rename(columns=df_train.iloc[0], inplace = True)
df_train.drop(df_train.index[0], inplace = True)

In [146]:
df_train.head(2)

,,campaign_name,ad_name,adset_name,ctr,cpc,clicks,impressions,spend,frequency,reach,actions,cpp,cpm,date_start,date_stop,link_clicks,registrations,action_values
1,0,"Post: ""Bright enough that you’ll need sunglass...","Post: ""Bright enough that you’ll need sunglass...","Post: ""Bright enough that you’ll need sunglass...",3.703704,0.579474,19,513,11.01,1.032193,497,"[{'action_type': 'photo_view', 'value': '8'}, ...",22.152918,21.461988,2022-04-06,2022-04-06,,,
2,1,"Post: ""Bright enough that you’ll need sunglass...","Post: ""Bright enough that you’ll need sunglass...","Post: ""Bright enough that you’ll need sunglass...",1.160093,3.925,10,862,39.25,1.027414,839,"[{'action_type': 'photo_view', 'value': '3'}, ...",46.781883,45.533643,2022-04-07,2022-04-07,,,

**Extracting Optily Marketing data**

In [147]:
new_df = df_train.loc[df_train['campaign_name'].isin(['optily_FB_SA_BOF','optily_FB_EGY_BOF','optily_FB_NIG_BOF',
                                                      'optily_FB_SA _TOF','optily_FB_EGY _TOF','optily_FB_NIG _TOF'])]

new_df.head()

,,campaign_name,ad_name,adset_name,ctr,cpc,clicks,impressions,spend,frequency,reach,actions,cpp,cpm,date_start,date_stop,link_clicks,registrations,action_values
65,0,optily_FB_SA _TOF,Is It You Tuition Video - DS - Accel,"Technical, Educated, 18-30",3.065134,0.68575,40,1305,27.43,1.035714,1260,[{'action_type': 'onsite_conversion.post_save'...,21.769841,21.019157,2022-05-18,2022-05-18,37,,
66,1,optily_FB_SA _TOF,Is It You Time Video - DS - Do you have,"Technical, Educated, 18-30",7.831325,0.370769,13,166,4.82,1.006061,165,"[{'action_type': 'link_click', 'value': '12'},...",29.212121,29.036145,2022-05-18,2022-05-18,12,,
67,2,optily_FB_SA _TOF,Is It You Time Video - DS - Level up,"Technical, Educated, 18-30",3.147353,0.865455,22,699,19.04,1.014514,689,"[{'action_type': 'link_click', 'value': '20'},...",27.634253,27.238913,2022-05-18,2022-05-18,20,,
68,3,optily_FB_SA _TOF,Is It You Tuition Video - DE - Accel,"Technical, Educated, 18-30",3.319502,0.79125,16,482,12.66,1.016878,474,"[{'action_type': 'link_click', 'value': '16'},...",26.708861,26.26556,2022-05-18,2022-05-18,16,,
69,4,optily_FB_SA _TOF,Is It You Time Video - DE - Level up,"Technical, Educated, 18-30",3.34728,0.81,16,478,12.96,1.014862,471,"[{'action_type': 'link_click', 'value': '15'},...",27.515924,27.112971,2022-05-18,2022-05-18,15,,

In [148]:
new_df.head()

,,campaign_name,ad_name,adset_name,ctr,cpc,clicks,impressions,spend,frequency,reach,actions,cpp,cpm,date_start,date_stop,link_clicks,registrations,action_values
65,0,optily_FB_SA _TOF,Is It You Tuition Video - DS - Accel,"Technical, Educated, 18-30",3.065134,0.68575,40,1305,27.43,1.035714,1260,[{'action_type': 'onsite_conversion.post_save'...,21.769841,21.019157,2022-05-18,2022-05-18,37,,
66,1,optily_FB_SA _TOF,Is It You Time Video - DS - Do you have,"Technical, Educated, 18-30",7.831325,0.370769,13,166,4.82,1.006061,165,"[{'action_type': 'link_click', 'value': '12'},...",29.212121,29.036145,2022-05-18,2022-05-18,12,,
67,2,optily_FB_SA _TOF,Is It You Time Video - DS - Level up,"Technical, Educated, 18-30",3.147353,0.865455,22,699,19.04,1.014514,689,"[{'action_type': 'link_click', 'value': '20'},...",27.634253,27.238913,2022-05-18,2022-05-18,20,,
68,3,optily_FB_SA _TOF,Is It You Tuition Video - DE - Accel,"Technical, Educated, 18-30",3.319502,0.79125,16,482,12.66,1.016878,474,"[{'action_type': 'link_click', 'value': '16'},...",26.708861,26.26556,2022-05-18,2022-05-18,16,,
69,4,optily_FB_SA _TOF,Is It You Time Video - DE - Level up,"Technical, Educated, 18-30",3.34728,0.81,16,478,12.96,1.014862,471,"[{'action_type': 'link_click', 'value': '15'},...",27.515924,27.112971,2022-05-18,2022-05-18,15,,

In [149]:
new_df.shape

(1623, 19)

In [150]:
new_df.groupby('campaign_name').describe()

                                         ad_name         \
                   count unique top freq   count unique
campaign_name
optily_FB_EGY _TOF   403    403   0    1     403      5
optily_FB_EGY_BOF     80     80   0    1      80     11
optily_FB_NIG _TOF   472    472   0    1     472      5
optily_FB_NIG_BOF     80     80   0    1      80     11
optily_FB_SA _TOF    507    507   0    1     507      5
optily_FB_SA_BOF      81     81   0    1      81     11

                                                                 adset_name  \
                                                        top freq      count
campaign_name
optily_FB_EGY _TOF     Is It You Time Video - DE - Level up   82        403
optily_FB_EGY_BOF                         Video carousel DS   11         80
optily_FB_NIG _TOF     Is It You Time Video - DE - Level up   95        472
optily_FB_NIG_BOF                         Video carousel DS   11         80
optily_FB_SA _TOF   Is It You Time Video - DS - Do you have  102        507
optily_FB_SA_BOF                          Video carousel DS   11         81

                           ... link_clicks      registrations                  \
                   unique  ...         top freq         count unique top freq
campaign_name              ...
optily_FB_EGY _TOF      8  ...          26    6           403      2      400
optily_FB_EGY_BOF       4  ...           7    4            80      2       78
optily_FB_NIG _TOF      9  ...          13   12           472      5      411
optily_FB_NIG_BOF       4  ...           2    9            80      6       51
optily_FB_SA _TOF       9  ...           0   27           507      4      430
optily_FB_SA_BOF        4  ...           3    6            81      5       49

                   action_values
                           count unique top freq
campaign_name
optily_FB_EGY _TOF           403      1      403
optily_FB_EGY_BOF             80      1       80
optily_FB_NIG _TOF           472      4      469
optily_FB_NIG_BOF             80      4       77
optily_FB_SA _TOF            507      6      502
optily_FB_SA_BOF              81      4       78

[6 rows x 72 columns]

**Checking for null values**

In [151]:
new_df.isnull().sum()

                 0
campaign_name    0
ad_name          0
adset_name       0
ctr              0
cpc              0
clicks           0
impressions      0
spend            0
frequency        0
reach            0
actions          0
cpp              0
cpm              0
date_start       0
date_stop        0
link_clicks      0
registrations    0
action_values    0
dtype: int64

In [152]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1623 entries, 65 to 1687
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0                  1623 non-null   object
 1   campaign_name  1623 non-null   object
 2   ad_name        1623 non-null   object
 3   adset_name     1623 non-null   object
 4   ctr            1623 non-null   object
 5   cpc            1623 non-null   object
 6   clicks         1623 non-null   object
 7   impressions    1623 non-null   object
 8   spend          1623 non-null   object
 9   frequency      1623 non-null   object
 10  reach          1623 non-null   object
 11  actions        1623 non-null   object
 12  cpp            1623 non-null   object
 13  cpm            1623 non-null   object
 14  date_start     1623 non-null   object
 15  date_stop      1623 non-null   object
 16  link_clicks    1623 non-null   object
 17  registrations  1623 non-null   object
 18  action_values  1623 non-null   object
dtypes: object(19)
memory usage: 253.6+ KB

In [70]:
from pandas._libs.algos import take_1d_float32_float64
# Sample actions
text = new_df.iloc[1000,11]
type(text)
#print(text)
#text[6]
a = text.split(',')
a[13]

" 'value': '1'}"

In [127]:
action_type = []
results = []
campaign_id = []
for count in range(0, len(new_df)):
  a = new_df.iloc[count,11].split(',')


  for i in range(0, len(a)):

    s = a[i].find('fb_pixel_')
    if s != -1:
      s = a[i][a[i].find('fb_pixel_')+9:-1]
      v = a[i+1].find('value')
      v = a[i+1][v+9]
      

      action_type.append(s)
      results.append(int(v))
      campaign_id.append(i)

In [103]:
#creating columns
action_types = list(set(action_type)) 
action_types

['complete_registration', 'custom', 'purchase', 'lead', 'initiate_checkout']

In [128]:
#pixel DataFrame
pixel = pd.DataFrame({})
for i in action_types:
  f = []
  for count in range(0,len(action_type)):
    f.append(0)
  pixel[i] = f

In [129]:
for i in action_types:

  t = []
  for count in range(0,len(action_type)):

    if i == action_type[count]:
      pixel[i][count] = results[count]
      pixel['campaign_id'] = campaign_id[count]

In [130]:
pixel.head()

,complete_registration,custom,purchase,lead,initiate_checkout,campaign_id
0,0,1,0,0,0,4
1,1,0,0,0,0,4
2,0,2,0,0,0,4
3,1,0,0,0,0,4
4,0,1,0,0,0,4